@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body {
    background: #000;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo img {
    max-width: 150px;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 0 10px;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a {
    color: #de0611;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 2555, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: #fff;
}

.search .fa-solid {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #fff;
    border-right: 1px solid #fff;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* manter a imagem do tamanho original */
}

.content {
    position: relative;
    z-index: 1;
    max-width: 550px;
}

.movieTitle {
    max-width: 250px;
}

.banner .content h4 {
    color: rgba(255, 255, 2555, 0.5);
    font-weight: 500;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 2555, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: #cfe509; /* background: #cfe509; */ 
    color: #000;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 5px 0 20px;
}

.banner .content .buttons {
    position: relative;
} 

.banner .content .buttons a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #de0611;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.banner .content .buttons a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 2555, 0.1);
}

.banner .content .buttons a:hover:nth-child(2) {
    background: #de0611;
}

.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}

.play img {
    margin-right: 10px;
    max-width: 50px;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 900px;
    outline: none;
}

/*my list*/

.mylist-body{
    background: linear-gradient(#171717, #000000);
    color: #fff;
}

.mylist-titulo{
    color: #fff;
    margin: 120px 0px 10px 105px;
}

hr{
    border-color: #de0611;
    border-radius: 10px;
    width: 82%; 
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: -10px;
}

.mylist-galeria{
    display: flex;
    flex-wrap: wrap;    
    margin: 0 auto;
    max-width: 1356px;
    margin: 20px 100px 40px 100px;
}

.mylist-galeria > .mylist-div{
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

.mylist-galeria > .mylist-div > .mylist-img{
    width: 95%;
    border-radius: 5px;
}

.mylist-galeria > .mylist-div:hover{
    background-color: rgb(15, 15, 15);
    color: #de0611;
    transform: scale(1.5);
    cursor: pointer;
}

.mylist-container-tabela{
    flex: 1;
}

.mylist-table{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 10px 20px 10px;
    width: 83%;
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(21, 21, 21);
    background-color: rgb(21, 21, 21);
}

.mylist-zero{
    color: #6c6c6c;
}

.mylist-zero th:last-child{
    color: #6c6c6c;
    text-align: left;
}

.mylist-first{
    width: 5%;
    text-align: center;
}

.mylist-second{
    width: 90%;
}

.mylist-third{
    color:#de0611;
    width: 5%;
    cursor: pointer;
}

.mylist-episodios{
    flex: 1;
    margin: 30px 0px 30px 105px;
}

#titulo{
    color:#de0611;
    padding: 0px 0px 10px 0px;
}

#res{
    margin: 15px 0px 30px 0px;
}

#buttonCalcular{
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color:#aaaaaa;
}

#buttonCalcular:hover{
    background-color:#fff;
    color:#171717;
}

.mylist-form{
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    border-style: none;
}

.calculo{
    border: solid 1.5px #de0611;
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    width: 90%;
}

.close {
    padding: 100px;
    cursor: pointer;
    filter: invert(1);
}

/* Responsivo */
@media (max-width: 991px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
    .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }
    .banner {
        padding: 100px 50px;
    }
    .banner .play {
        left: 50px;
        font-size: 40px;
    }
    .play img {
        margin-right: 10px;
        max-width: 40px;
    }
    .trailer video {
        max-width: 90%;
    }
}
@media (max-width: 600px) {
    header {
        padding: 20px;
    }
    .search {
        position: relative;
        width: calc(100% - 20px);
        height: 40px;
    }
    .banner {
        padding: 220px 20px 120px;
    }
    .banner .play {
        left: 20px;
        font-size: 1em;
        bottom: 30px;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .body-login {
    height: 100vh;
  }
  
  .body-login {
    background-color: #000000dc;
    font-family: Roboto, Arial, sans-serif;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .h1-login {
    font-size: 45px;
    letter-spacing: 1px;
    margin: 90px ;
    color: #de0611;
  }
  
  form {
    margin: 10px 0;
    background-color: rgba(85, 83, 83, 0.829);
    padding: 30px 25px;
    border-radius: 5px;
    overflow: hidden
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #000000;
    border-radius: 2px;
    border: 1px solid #000000;
    outline-color: #000000;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #de0611;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
  
/* Aparição do Form */
  
  form {
    overflow: hidden;
    animation: fade 1.5s;
  }
  
  form .input-block:nth-child(1){
    animation: move 400ms;
  }
  
  form .input-block:nth-child(2){
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards
  }
  
  form .btn-login {
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards
  }
  
  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    } 
    to {
      opacity: 1;
      transform: scale(1);
      transform: translateX(0);
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    } 
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
 /* Quando clicar no botão, sumir com o form */
  
  .form-hide {
    animation: down 500ms forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
  }
  
  @keyframes down {
    0% {
      transform: translateY(0)
    }
    50% {
      transform: translateY(-5vh)
    }
    100% {
      transform: translateY(100vh);
    }
  } 
  
  /* Form NO-NO */
  
  .validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2
  }
  
  